:root {
    --primary: #5F35F2;
    --navy-2: #363853;
    --dark-navy: #2E3047;
    --headers-color: #18232F;
    --gray-2: #7B8188;
    --gold: #F2C41F;
    --light-gray: #D6DAE4;
    --gray-3: #D9D9D9;
}