@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: lato;
}

/* :root {
    --primary: #5F35F2;
    --navy-2: "#363853";
    --dark-navy: "#2E3047";
    --gray-2: "#7B8188";
} */

/* [data-mod="dark"] :root {
    --primary: green
} */